
button {
 background-color: #0078d7;
 color: rgb(255, 255, 255);
 border-bottom-color: color(srgb 0 0.4 0.716667); 
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 0.55px;
border-top-color: color(srgb 0 0.4 0.716667); 
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 0.55px;
border-left-color: color(srgb 0 0.4 0.716667); 
border-left-style: solid;
border-left-width: 0.55px;
border-right-color: color(srgb 0 0.4 0.716667); 
border-right-style: solid;
border-right-width: 0.55px;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 12px;
padding-right: 12px;
}