.wcontainer {
	display: flex;
	flex-direction: column;
	/* background-color: beige; */
	height: 320px;
}

.wgap {
	/* background-color: aliceblue; */
	flex-grow: 2;
	height: 55px;
	border-bottom: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin: 0;
}

.wbuttons {
	background-color: white;
	height: 30px;
	flex-grow: 0;
	/* margin: 20px; */
	text-align: right;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
}

button[disabled] {
	background-color: #d9d9d9;
}

.main-wpage {
	flex-grow: 1;
	margin-left: 12px;
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
}

table, th, td {
	/* border: 1px solid black; */
	border-collapse: collapse;
}

td {
	height: 25px;
}