:root {
	--groupbox-header-bg: white;
	--question-height: 24px;
  }
  

  :root {
    --dialog-bgcolor: #f7f7f7;
    --dialog-text-color: FieldText;
	--in-content-box-background: Field !important;
	--in-content-accent-color: rgb(69, 161, 255);
	--list-item-hover: rgb(116, 183, 249);
	--list-highlight-text-color: black;
	--tab-selected-background: var(--dialog-bgcolor);
}

@media (prefers-color-scheme: dark) {
    :root {
        --dialog-bgcolor: rgb(35, 34, 43);
        --dialog-text-color: #f7f7f7;
        --checkbox-unchecked-bgcolor: rgb(50, 49, 57);
        --toolbarbutton-hover-background: #393842;
        --toolbarbutton-active-background: #505054;
        --in-content-item-selected: rgb(69, 161, 255);
		--in-content-accent-color: rgb(69, 161, 255);
		--list-item-hover: rgb(116, 183, 249);
    }
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
    :root {
        --dialog-bgcolor: rgb(35, 34, 43);
        --dialog-text-color: #f7f7f7;
        --checkbox-unchecked-bgcolor: rgb(50, 49, 57);
        --toolbarbutton-hover-background: #393842;
        --toolbarbutton-active-background: #505054;
        --popup-item-hover: rgb(69, 161, 255);
        --box-text-color: white;
		--in-content-accent-color: rgb(69, 161, 255);
		--field-background-color: var(--dialog-bgcolor);
		--field-text-color: var(--dialog-text-color);
		--list-item-hover: rgb(116, 183, 249);
    }

	tab[selected] {
		/* color: red !important; */
		font-weight: 600 !important;
	}

    legend {
        font-weight: 100 !important;
        background-color: var(--dialog-bgcolor) !important;
        color: var(--dialog-text-color);
    }

    #ptng-options {
        background-color: var(--dialog-bgcolor);
        color: var(--dialog-text-color);
    }

}

#ptng-options {
    
    margin: 8px;
}

input {
	background-color: var(--dialog-bgcolor) !important;
}
